* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
/* change line height to 1.5 from 1 */
body {
  min-height: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}

/* changed the font size to 200 from 100*/
h1, h2, h3, h4, h5, h6 {
  font-size: 200%;    
}

input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}